

<script type="text/x-handlebars" id="location">
  <div class="edit_location_form" style="display:block;">
   <form role="form" id="edit_form" class="form-horizontal well">
   <div class="form-group">
   <label for="inputEmail3" class="col-sm-2 control-label">Title of Location</label>
    <div class="col-sm-10">
    {{input type="hidden" name="action" value="edit" class="form-control"}}
    	    {{input type="text" name="title" value=title class="form-control"}}

	    {{input type="text" name="address" value=address class="form-control"}}
	    {{input type="hidden" name="slug" value=slug class="form-control"}}
	    {{input type="text" name="createdBy" value=createdBy disabled="disabled" class="form-control"}}
	    {{input type="number" name="latitude" value=latitude class="form-control"}}
	    {{input type="number" name="longitude" value=longitude class="form-control"}}
	    {{input type="text" name="category" value=category class="form-control"}}
	   <a {{action "ajaxCall"}} href="#" class="btn btn-success complete_edit">Complete Edit</a>
	    <a {{action "closeEditForm"}} href="#" class="btn btn-warning">Cancel and Go Back</a>
	 </div>
</form>
</div>
  </script>


<script type="text/x-handlebars" id="locations">
<div class="edit-container">
<button class="btn btn-success create-location" {{action "openNew" this}}><i class="fa fa-plus-square"></i>Create New Location</button>
<p  class="edit-success text-success hide">Successfully Edited a Location!</p>
<p class="delete-success text-danger hide">Successfully Deleted a Location</p>

<table class="table table-hover table-striped loc-table">
{{#each}}
		<tr class={{addRowClass}}>
			<td>{{title}}</td>
			<td>{{slug}}</td>
			<td>{{address}}</td> 
			<td>{{latitude}}</td> 
			<td>{{longitude}}</td> 
			<td>{{category}}</td>
			<td>
			<a {{action "openEdit" this }} class="btn btn-info edit-loc">Edit</a> 
			
			<button {{action "openDelete" this}} class="btn btn-danger btn-delete">Delete</button>
			</td>
		</tr>
 {{/each}}
</table>

{{outlet}}
</div>
  </script>


<div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="modal-loc-title"></span></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="option-confirm btn"></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">
var t =JSON.parse(' <%= @data %> ');
</script>
