
  <link href="http:////netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
  .locs, .locs__list li{display:inline; margin-left:20px;}

  .locs__list {margin-top:50px !important;}
  </style>
<script type="text/x-handlebars">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Bloggr</a>
        <ul class="nav">
          <li>{{#link-to 'locations'}}Locations{{/link-to}}</li>
        </ul>
      </div>
    </div>

    {{outlet}}
</script>

<script type="text/x-handlebars" id="location">
	<form class="form-horizontal">
    <p>{{input type="text" name="title" value=title}}</p>
    <p>{{input type="text" name="title" value=address}}</p>
    <p>{{input type="text" name="title" value=createdBy disabled="disabled"}}</p>
    <p>{{input type="text" name="title" value=title}}</p>
    <p>{{input type="text" name="title" value=title}}</p>
    <p>{{input type="text" name="title" value=title}}</p>
    <p>{{input type="text" name="title" value=title}}</p>
    </form>

  </script>



<button class="test">Click Me!</button>


<script type="text/x-handlebars" id="locations">
TEST LOCATIONS
<table class="table table-hover table-striped loc-table">
{{#each}}
<tr>
	<td>{{title}}</td>
	<td>{{address}}</td> 
	<td>{{latitude}}</td> 
	<td>{{longitude}}</td> 
	<td>{{category}}</td>
	<td>
	{{{editLocation}}}
	<button class="btn btn-danger">Delete</button>
	</td>

</tr>
 {{/each}}
</table>

{{outlet}}
  </script>





<script type="text/javascript">
var t =JSON.parse(' <%= @data %> ');
</script>


<script type="text/javascript">
$(document).ready(function(){
//var formData = ; //Array 

	$("button").on("click", function(){
		console.log("CLICK");
		//var data = {action: "edit", slug: "chipotle", address: "5620 Fayland Drive"};
		//var data = "?action=edit&slug=chipotle&address=5620fayland"
		//console.log(data);
		$.ajax({
		    url : "/location",
		    type: "POST",
		    data : {"action": "edit", "slug": "YEEZY", "address": "POWERRRRR LANE"},
		    processData: true,
		    //contentType: "application/json; charset=utf-8",
 			//dataType: "json",
		    success: function(data, textStatus, jqXHR)
		    {
		        //data - response from server
		        console.log("SUCCESS!");
		        console.log(data);
		    },
		    error: function (jqXHR, textStatus, errorThrown)
		    {
		 		console.error("Some dumb error occurred");
		 		console.error(errorThrown);
		    }
		});

	});

});

</script>

<script src="js/libs/jquery-1.9.1.js"></script>
<script src="js/libs/handlebars-1.0.0.js"></script>
<script src="js/libs/ember-1.0.0-rc.8.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".edit-btn").on("click", function(){
		$(".loc-table").hide();
	});
});
</script>