<form action="/login" method="post">
  <input type="text" name="username" value="yeezus">
  <input type="password" name="password" value="christ">
    <input type="text" name="college_id" value="12345">

  <input type="submit">
</form>
