# views/layout.erb
<html>
  <head>
    <title>My Page</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>
  <body>
    <div id='header'>
      <nav>
        <ul>
          <li>Home</li>
          <li>Contact</li>
          <li>About Me</li>
        </ul>
      </nav>
    </div>
    <div id='main'>
      <%= yield %>
    </div>

  </body>
</html>
